
body {
  background-image: url('https://tse2.mm.bing.net/th?id=OIP.ZiTa1uICkwhwZA2PtyNfRwHaEK&pid=Api&P=0&h=220');
  color:black;
  font-family: Garamond, serif; 
  font-weight: bolder;
  font-size: 30px;
  text-align: justify;
}
p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
h5{
  font-family: Arial, Helvetica, sans-serif;

}


.menu a {
  a:link{
    color:red;
  }
  color: rgb(7, 7, 7);
  padding: 3px;
  line-height: 4;
  font-size: 20px;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #FFFFFF;
  z-index: 1 ;
  border-bottom: 1px solid #364f6b ;
}

nav ul {
  list-style-type: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;    
}

nav ul li a {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration : underline ;
}





h4 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;  
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

li:nth-child(2n) {
  color:aqua;
}